/*********** common css ***************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  font-style: normal;
}
p {
  font-family: "Inter";
  font-style: normal;
}
.title {
  text-align: center;
}
.title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #151515;
  margin-bottom: 0px !important;
}
.title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #737373;
}
/************* common css end***************** */
#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* **************navbar part start *************/
nav {
  background: transparent;
  position: absolute !important;
  width: 100%;
  top: 50px;
  z-index: 999;
}
nav .navbar-nav .nav-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  transition: 0.2s;
}
nav .navbar-nav .active {
  color: #4756df !important;
  font-weight: 700;
}
nav .navbar-nav .nav-link:hover {
  color: #4756df;
}
nav .navbar-nav .active:hover {
  color: #4756df !important;
}
nav .navbar-nav .nav-item {
  margin-left: 67px;
}
nav .navbar-nav .nav-item:first-child {
  margin-left: 0px;
}
.navbar .btn {
  background: #6a4df4;
  border: 1px solid #6a4df4;
  border-radius: 10px;
  padding: 15px 42px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
}
.navbar .btn:hover {
  background: none;
  border: 1px solid white;
}
/* ***************navbar part end **************/
/************** banner part start **************/
#banner_slider {
  position: relative;
}
#banner_slider ul {
  position: absolute;
  left: 50%;
  bottom: 53px;
  transform: translateX(-50%);
  display: flex;
}
#banner_slider ul li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4756df;
  border: 4px solid #4756df;
  margin: 0 1px;
}
#banner_slider ul .slick-active {
  border-color: #ffffff;
}
#banner_slider ul li button {
  display: none;
}
#banner_slider .banner_01 {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
}
#banner_slider .banner_02 {
  background: url(../images/banner2.jpg) no-repeat center;
  background-size: cover;
}
#banner_slider .banner_03 {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
}
#banner_slider .banner_04 {
  background: url(../images/banner4.jpg) no-repeat center;
  background-size: cover;
}
#banner_slider .bannerPart .overly {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 315px 0 176px;
}
#banner_slider .bannerPart .overly .main {
  text-align: center;
}
#banner_slider .bannerPart .overly .main h1 {
  width: 950px;
  line-height: 120%;
  color: #ffffff;
  font-weight: 700;
  font-size: 75px;
  text-align: center;
  margin: 0 auto;
}
#banner_slider .bannerPart .overly .main p {
  line-height: 26px;
  width: 621px;
  margin: 51px auto 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
#banner_slider .bannerPart .overly .main a {
  line-height: 26px;
  display: inline-block;
  padding: 15px 42px;
  background: #6a4df4;
  border: 1px solid #6a4df4;
  border-radius: 10px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
}
#banner_slider .bannerPart .overly .main a:hover {
  background: none;
  border: 1px solid white;
}
/***************** banner part end********************/
/***************** counter part start******************/
#counterPart {
  margin: 171px 0 149px;
}
#counterPart .counterMain {
  width: 100%;
  background: #e0fff9;
  padding: 69px 50px 86px;
  border-radius: 20px;
}
#counterPart .counterMain .text h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #6a4df4;
  text-align: start;
}
#counterPart .counterMain .text h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #151515;
  width: 387px;
  text-align: start;
}
#counterPart .counterMain .right {
  display: flex;
  justify-content: end;
}
#counterPart .counterMain .right .counter {
  margin-left: 110px !important;
}
#counterPart .counterMain .right .counter:first-child {
  margin-left: 0 !important;
}
#counterPart .counterMain .right .counter h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #151515;
}
#counterPart .counterMain .right .counter p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #737373;
}
/********************* counter part end *******************/
/***************** service part start ********************/
#service {
  margin-bottom: 50px;
}
#service .title p {
  width: 609px;
  margin: 20px auto 50px;
}
#service .service_01 {
  padding: 80px 49px 46px;
  width: 100%;
  margin-bottom: 24px;
}
#service .service_01 .text {
  text-align: center;
}
#service .service_01.active {
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
#service .service_01:hover {
  background: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
#service .service_01 .text h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #151515;
  margin: 41px 0 20px;
}
#service .service_01 .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 326px;
}
/******************** service part end **************/
/******************* recent part start ***********/
#recentPart {
  background: #f3f3f3;
  padding: 202px 0 150px;
}
#recentPart .title p {
  width: 620px;
  /* margin: 0 auto 106px; */
  margin: 20px auto 106px;
}
#recentPart .recent_01 {
  background: #ffffff;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 24px;
}
#recentPart .recent_01 img {
  width: 100%;
  border-radius: 30px;
}
#recentPart .recent_01 .text {
  text-align: center;
}
#recentPart .recent_01 .text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #151515;
  margin-top: 30px;
}
#recentPart .recent_01 .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 340px;
  margin: 0px 42px 30px;
}
/******************** recent part end ********************/
/******************** agency  part ********************/
#agencyPart {
  padding: 170px 0px 12px;
}
#agencyPart .title {
  text-align: center;
}
#agencyPart .title h2 {
  width: 518px;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #151515;
  margin: 0 auto;
}
#agencyPart .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 802px;
  margin: 20px auto 130px;
}
#agencyPart .agency_01 .text h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #151515;
  margin: 13px 0px 10px;
}
#agencyPart .agency_01 .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 344px;
  margin-bottom: 94px;
}
#agencyPart .agencyImg {
  border-radius: 30px;
}
/******************** agency part end ********************/
/******************** client part start ********************/
#clientPart {
  margin-bottom: 175px;
}
#clientPart .title p {
  width: 620px;
  margin: 20px auto 78px;
}
#clientPart .item {
  margin: 0 12px;
}
#clientPart .client_01 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#clientPart .clientDetails_01 {
  padding: 54px 58px;
  background: #ffffff;
  transition: 0.3s;
}
#clientPart .clientDetails_02 {
  padding: 54px 58px;
  background: #ffffff;
  transition: 0.3s;
}
#clientPart .clientDetails_03 {
  padding: 54px 58px;
  background: #ffffff;
  transition: 0.3s;
}
#clientPart .clientDetails_04 {
  padding: 54px 58px;
  background: #ffffff;
  transition: 0.3s;
}
#clientPart .clientDetails_05 {
  padding: 54px 58px;
  background: #ffffff;
  transition: 0.3s;
}
#clientPart .slick-center {
  background: #f4efef;
  border-radius: 30px;
  transform: scale(1.1);
}
#clientPart .client_01 .prev {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #4756df;
  color: #ffffff;
  z-index: 999;
}
#clientPart .client_01 .next {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #4756df;
  color: #ffffff;
  z-index: 999;
}
#clientPart .clientDetails .clientSingelIcon {
  font-size: 58px;
  color: #6a4df41a;
}
#clientPart .clientDetails {
  padding: 54px 58px;
}
#clientPart .clientDetails p {
  width: 307px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  margin: 15px 0 25px;
}
#clientPart .clientDetails .clientIcon i {
  color: #f9bd2c;
  font-size: 20px;
}
#clientPart .clientDetails .clientBottomDt {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#clientPart .clientDetails .clientBottomDt img {
  margin-right: 20px;
}
#clientPart .clientDetails .clientBottomDt .text h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
}
#clientPart .clientDetails .clientBottomDt .text h4,
h5 {
  margin: 0;
}
/******************** client part end ********************/
/******************** form part start ********************/
#formPart {
  padding: 150px 0px;
  background: #f3f3f3;
}
#formPart .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#formPart .text h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #151515;
  width: 470px;
  margin-bottom: 22px;
}
#formPart .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 526px;
}
#formPart .formDetails {
  background: #ffffff;
  width: 536px;
  padding: 61px 43px;
  border-radius: 20px;
}
#formPart h3 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #151515;
  margin-bottom: 30px;
}
#formPart .formDetails form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#formPart .formDetails form label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #151515;
  margin-bottom: 10px;
}
#formPart .formDetails form input {
  width: 100%;
  padding: 19px 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #d0d0d0;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 20px;
}
#formPart .formDetails form input:last-child {
  margin-bottom: 30px;
}
#formPart .formDetails form input:focus {
  outline: 0;
}
#formPart .formDetails form .button {
  width: 100%;
  background: #6a4df4;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding: 19px 0px;
  border: none;
}
/******************** form part end ********************/
/******************** contact part start ********************/
#contact {
  padding: 150px 0px 50px;
}
#contact .contact_01 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  width: 356px;
  margin-top: 30px;
}
#contact h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  color: #151515;
  margin-bottom: 40px;
}
#contact ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #7b7b7b;
}
/******************** contact part start ********************/
/******************** footer part start ********************/
#footer .borderTop {
  border-top: 1px solid #e8e8e8;
}
#footer .borderTop p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #d0d0d0;
  text-align: center;
  padding: 20px 0px;
}
/******************** footer part end ********************/
/* *******************Video added code*****************/
.vbox-content {
  text-align: center;
  width: 36%;
  position: relative;
  overflow: hidden;
  padding: 20px 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.vbox-item {
  border: 1px solid #f8dbdb;
  background: #f8e7e7;
  color: #836d6d;
  padding: 6px 15px;
  border-radius: 4px;
}
